<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Bootstrap Colorpicker" lan="" version="1.0" date="2015-12-17" compatibility="2.0" installRequired="true" >
	<author name="Patrick Weaver" url="http://trickmod.com" />
	<summary lan="">Enable the use of a colorpicker form element on your website.</summary>
	<description lan="">e107 does not have a native colorpicker form element. Let's fix that!</description>
	<keywords>
		<word>colorpicker</word>
		<word>form</word>
	</keywords>
	<category>tools</category>
	<copyright>2015</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='enabled'>true</pref>
	</pluginPrefs>
</e107Plugin>